@charset "utf-8";
/* CSS Document */
@import url('part.css');
@import url('general.css');

html, body { border:0; margin:0; padding:0; } 
body ,*{ font-family: Arial, Helvetica, "宋体";	font-size:12px; color:#000; margin:0; padding:0; }

a { color:#06346f; text-decoration:none;}
a:visited { color:#393939; text-decoration:none;}
a:hover { color:#820C0C; text-decoration:underline;}
a:active { color:#06346f; text-decoration:none;}

/***** Headings *****/ 
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:normal; color:#063468;!important;} 
h5 { line-height:18px; color:#666 !important; font-weight:normal;}
h5 em { margin:0 5px; color:#666; display:inline-block;}
h5 a { color:#666;}
h5 em a { color: #990000; margin:0 3px;}

/***** Common Formatting *****/ 
p,ul,li { margin:0; padding:0; list-style:none; overflow:hidden; display:block;}
img { border:0; } 
em { font-style:normal;}

/***** Forms *****/ 
form { margin:0; padding:0; display:inline; } 
input {	height:23px; color:#38353c;	font:12px Arial, Helvetica, "宋体";	padding:0 0 0 3px;	border:#7f9db9 1px solid; margin:0; }
.input60 { width:60px !important;}
.input100 { width:100px !important;}
.input200 { width:200px; margin-right:10px;}
.input300 { width:300px; margin-right:10px;}
.input500 { width:500px; margin-right:10px;}
.input600 { width:600px; margin-right:10px;}

/***** 图片引用区域 *****/
.iconBox li ,.iconBoxT14 li { background:url(../images/iconDot.png) no-repeat;}
.btnSear { background:url(../images/btn.png) no-repeat !important;}

/***** 图片列表 *****/
.picAll li { float: left; height: 117px; width: 132px; overflow:hidden; display:inline; text-align:center;}
.picAll a { display: block; overflow: hidden; text-align: center; width: 132px; height:87px;}
.picAll .txt { height: 25px; line-height: 25px; margin: 3px auto; overflow: hidden; white-space: nowrap; text-align:center;}
.picAll img { width:130px; height:85px; border:#ccc 1px solid;}

/***** 公用样式 *****/
.pad { margin:10px;}
.pad20 { margin:20px;}
.fLeft { float:left;}
.fRight { float:right;}
/*.pad h5 { color:#08366d; font-weight:bold;}*/
.marBot10 { margin-bottom:12px;}
.marRig10 { margin-right:12px;}
.bgWhite { background:#fff !important;}
.bgGray { background:#eee !important;}
.bgFooter { background:#d2d2d2 !important;}
.tabs ,.tabs h2 { text-indent:0 !Important;}
.tabs a { margin:0;}
.tabsCurr ,.tabsNo { font-size:14px; font-weight:bold; font-size:14px; float:left; display:block; height:27px !important; line-height:27px !important; padding:0 15px; border-right:#dbe1e6 1px solid; border-bottom:#fff 1px solid; background:#fff;}
.tabsNo { color:#666; font-weight:normal; border-bottom:#dbe1e6 1px solid;}

/***** 文字列表 *****/
.iconBox li { background-position: -3px 11px; background-position: -3px 9px\9; text-indent:13px; height:24px; line-height:24px; font-size:12px; white-space:nowrap;}
.iconBox li a { font-size:12px;}
/**/
.iconBoxT14 li { background-position: -3px 12px; text-indent:13px; height:28px; line-height:28px; font-size:14px; white-space:nowrap; overflow:hidden;}
.iconBoxT14 li a { font-size:14px;}
.firList .iconBoxT14 li ,.gediNews .iconBoxT14 li ,.szNews .iconBoxT14 li ,.szNews .iconBoxT14 li ,.socLife .iconBoxT14 li ,.hqNews .iconBoxT14 li ,.hqGedi .iconBoxT14 li ,.abPeo .iconBoxT14 li ,.gloLook .iconBoxT14 li ,.borChina .iconBoxT14 li{ height:28px; *height:25px;_height:25px;}

/***** 内容 *****/
.main { padding:0 0 10px; background:#eee;}
.mainCon { position:relative; width:960px; margin:0 auto; display:block; overflow:hidden; background:#fff !important;}
.zhaiYao { border:#d7dee6 1px solid; font-size:12px; padding:15px 20px; line-height:24px; margin:11px 15px 12px 20px; margin:10px 15px 12px 20px\9;_margin:11px 15px 12px 20px;}
.zhaiYao strong { font-size:12px;}
.lineDetail { width:640px; margin:-1px 0 -2px 5px !important; margin:0 0 -2px 5px\0 !important;}
.lineDetail_pic { width:960px; margin:-1px 0 -2px 5px !important; margin:0 0 -2px 5px\0 !important;}
/***** 栏目标题 *****/
.clumnTit ,.clumnTitB { border-bottom:#d7d6d6 1px solid; height:21px; padding-top:8px; height:20px\9; padding-top:9px\9; text-indent:12px; color:#000; font-size:14px; font-weight:bold; position:relative; clear:both;}
.clumnTit a,.clumnTitB a ,.clumnTit .normal ,.clumnTitB .normal{ font-size:14px !important; color:#000 !important; text-align:left !important; cursor:pointer; margin-top:10px; display:inline;}
.clumnTit a:hover ,.clumnTitB a:hover { color:#820C0C !important; text-decoration:underline;}
.clumnTit em ,.clumnTitB em { font-weight:normal; color:#b4c3d0; float:right; *margin-top:-17px; _margin-top:-17px;}
.clumnTit em a ,.clumnTitB em a { color:#000; margin:0 10px; text-decoration:none; font-size:12px !important; width:auto !Important;}
.clumnTit strong { margin:0 5px; font-size:12px; font-weight:normal;}
.clumnTitB strong ,.clumnTitB strong a { font-size:12px !important; font-weight:normal; float:right; width:200px; text-align:right;*margin-top:-17px; _margin-top:-17px; padding-right:3px;}
.clumnTitB strong a { float:none !important; margin:0 5px; width:auto !important;}
.clumnTit .noHover { font-weight:normal; font-size:14px !important;}

/***** 公共导航 *****/
.otNavMain { width:970px; margin:0 auto; font-size:14px; color:#e7ecf1 !important; height:75px; line-height:23px; display:block;}

/***** 频道头 *****/
.top { background:#fff; width:950px; margin:0 auto; height:67px;}
.topMain { width:950px; margin:0 auto; height:67px; overflow:hidden;}
.top .topLeft { width:360px; float:left; margin:21px 0 0; *margin:24px 0 0;_margin:24px 0 0; display:inline; text-align:left;}
.top .topLeft a { margin:0 5px 0 0;}
.top .topRight { width:280px; float:right; margin-top:23px; text-align:right; display:inline;}
.top .topRight input { width:150px; border-left:#6f6e6a 1px solid; border-top:#6f6e6a 1px solid; border-right:#dadde4 1px solid; border-bottom:#dadde4 1px solid; color:#7c8081; height:21px; line-height:21px; font-size:14px; float:right; background:#c3c6cd;}
.logoChannel { width:218px; height:67px; display:inline-block; float:left;}
.btnSear { background-position:0 -31px !important; font-size:14px; color:#fff !Important; width:51px !important; height:23px !Important; line-height:23px !important; border:none !Important; text-align:center; padding:0 0 2px !important; padding:1px 0 0\9 !important; padding:2px 0 0\0 !important; margin:0 0 0 2px !important; font-weight:normal !important; text-indent:3px;*text-indent:2px;_text-indent:2px; letter-spacing:3px;}

/***** 频道导航 *****/
.nav { background-position:0 -75px !important; height:35px; text-align:center; width:950px; margin:0 auto;}
.nav a { color:#fff !important; font-size:14px; height:35px; line-height:35px; padding:0 13px;_padding:0 12px; font-weight:bold; display:inline-block; margin:0 -3px;*margin:0 -4px; position:relative;}
.nav em { background-position:-2px -155px !important; display:inline-block; width:2px; height:35px; position:absolute; right:0; bottom:0;}
.nav .noLine { background:none;}
.nav .noLine em { width:0;}
.nav a:hover ,.nav .cur{ background-position:0 -115px !important; z-index:999; zoom:1; text-decoration:none !important; color:#fff !important;}
.nav a:hover em ,.nav .cur em { width:0;}

/***** 每日推荐 *****/
.dailyRe { background:#d9d9d9 url(../images/repBg.png) 0 -550px repeat-x !important; text-align:center; padding:10px 0 8px;}

/***** 广告 *****/ 
.ad { margin:12px auto; clear:both; width:950px; height:auto; clear:both; overflow:hidden;}
.adRig { width:300px; height:352px;_height:357px; overflow:hidden;}
.adRigFir { width:300px; height:250px; overflow:hidden;}
.adRigFir img { width:300px; height:250px;}
.adRigSmall { width:280px; height:90px; margin:0 -2px; overflow:hidden;}
.adRigSmall img { width:280px; height:90px;}
.adHomeFenlei { width:298px; height:350px;_height:356px; overflow:hidden;}
.adTwoPart { width:960px; height:auto; margin:0 auto; background:#fff; padding:8px 0; display:block; overflow:hidden;}
.adTwoPartB { width:950px; height:auto; margin:0 auto 12px; background:#fff; display:block; overflow:hidden;}
.adL { width:640px; float:left; margin-left:5px; display:inline; overflow:hidden;}
.adR { width:300px; float:right; margin-right:5px; display:inline;}
.adRDetail { width:300px; margin-bottom:12px;}
.adText300x250 { width:300px; height:320px; overflow:hidden;}
.adFenlei { height:225px; overflow:hidden;}
.adHouse { width:300px; height:250px; overflow:hidden;}
.ad640x90 { width:640px; height:auto; overflow:hidden;} 
.ad280x90 { width:300px; height:90px; overflow:hidden; text-align:center;}
.ad300x250 { width:300px; height:auto; overflow:hidden;}
.adTextR { width:300px; overflow:hidden;}
.ad300x90 { width:300px; height:90px; overflow:hidden;}
.ad640x60 { width:640px; height:60px; overflow:hidden;} 
.ad300x180{ width:300px; height:180px; overflow:hidden;} 
.adW300 { width:300px; height:auto; overflow:hidden;}
.ad225x90 { width:225px; height:90px; overflow:hidden;}
.ad380x90 { width:380px; height:90px; overflow:hidden;}
.ad400x40 { width:400px; height:40px; overflow:hidden;}
.adDingT { margin:12px auto 0; clear:both; width:950px; height:auto; clear:both; overflow:hidden;}
.adCoup {}
.thread {}
.adRichM {}

.adNo { display:none; height:0; font:0;}

/**/
.admin_block { border:none !important;}

.weixin{position:fixed;right:10px;top:300px; width:150px;border: 1px solid #e0e7eb;background-color: #FDFDFD; padding:10px;box-shadow: 0 0 3px rgba(0,0,0,.1); font-size:16px; line-height:30px;border-radius: 5px; text-align:center;}
.weixin img{ width:150px; height:150px; display:block;}
.mobile{ padding-top:50px;}
.mobile p{font-size:24px; color:#0066FF}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	font-weight:bold;
	border-radius: 12px;
}

.button a {
	color:#FFFFFF !important;
}