@charset "utf-8";
/* CSS Document */

/***** 图片引用区 *****/
.logoChannel { background:url(../images/mil.png) no-repeat !important;}
.atten strong ,.atten strong a ,.atten strong a:hover { background:url(../../images/btn.png) no-repeat;}
.nav ,.nav a:hover ,.nav .cur ,.nav em{ background:url(../images/mil.png) repeat-x top;}

/***** 栏目标题 *****/
.clumnTitB { border-bottom:#98af79 2px solid !important;}
.nav a { padding:0 13px 0 15px;*padding:0 13px 0 14px; margin:0 -2px 0 -3px;}

/***** 文章页摘要 *****/
.lineDetail { border-bottom:#98af79 2px solid;}

/***** 铁血 *****/
.picManCon{ width:950px; margin:20px 0; overflow:hidden;  position:relative; }
.picManCon li{ width:142px; overflow:hidden; float:left; margin:0 10px; display:inline;}
.picManCon li a{ display:block;width:142px; height:110px; overflow:hidden;}
.picManCon li a.txt{ display:block; width:132px; text-align:center; overflow:hidden; white-space:nowrap; height:35px;!important; line-height:30px;line-height:35px\9; margin:0 auto;}
.picManCon li img{ width:140px; height:108px; border:1px solid #ccc;}
.picManCon li.rr{ position:relative; left:302px;}
.picManCon .manList{ margin:5px 0;}
.picManCon .manList li{ white-space:nowrap; height:24px; line-height:24px; overflow:hidden; margin:0px; padding-left:15px; width:130px; background-position:0 -610px;}
.picManCon .manList a{ display:block; width:120px; height:24px; overflow:hidden; line-height:24px; line-height:30px\9;} 
.picManCon .picBig{width:300px; height:280px; border:1px solid #000;padding:0px; margin:0px; position:absolute; left:325px; top:0px;}
.picManCon .pic img { width:300px !Important; height:280px !important;}
/**/
#focus{width:300px;height:280px;overflow:hidden;}
#focus .ctr {position: absolute; bottom: 10px; right: 10px;}
#focus .ctr a{text-align: center; line-height: 22px;width: 22px; float: left; vertical-align: middle;background:#000;color:#fff;margin-left:7px;}
#focus .ctr a.imgSelected{background:#e60000;}

/***** 铁血New *****/
.tieXue { width:950px; margin:0 auto;}
.picManLeft { width:282px; float:left; text-align:center; padding:12px 0 0 10px; display:inline;}
.picManLeft img { width:280px; height:185px; border:#ccc 1px solid;}
.picManLeft a { display:block; width:282px; overflow:hidden; text-align:center;}
.picManLeft .txt { height:25px; line-height:25px; overflow:hidden; font-size:14px; font-weight:bold; margin:10px 0;}
/**/
.picManRight { width:615px; float:right; overflow:hidden;}
.picManRight ul { padding:7px 0; display:block; width:635px; overflow:hidden;}
.picManRight li { margin:5px 22px 0 2px;}/* CSS Document */

